{%extends 'base.html'%}
{%block titulo %}Login | {%endblock%}
{% block conteudo%}
<br>
<h1 class="mt=3  mb-3">Login</h1>
{%if not user.is_authenticated%}
 <form method="post" action="{% url 'login'%}">  <!--# url do cadastro dando um post no metado -->
       {%include 'parciais/_messages_alert.html'%}
      {% csrf_token %} <!--sistema de segurança do django-->
     <div class="form-group" >
    <label for="Usuario">Usuario</label>
    <input type="text" name="Usuario" class="form-control" id="Usuario"  value="{{request.POST.usuario}}" aria-describedby="emailHelp" placeholder="Usuario">
  </div>
  <div class="form-group">
    <label for="senha">Senha</label>
    <input type="password" name="senha" class="form-control" id="senha"   placeholder="Senha">
  </div>
  <button type="submit" class="btn btn-primary">logar</button>
</form>
{%else%}
<p>
    VOCE FEZ LOGIN COM {{user}},
    <a href="url 'logout'">Clique aqui para sair.</a>
</p>
{endif}

{%endblock%}